:root{
  --primaryColor: #181f29;
  --secondaryColor: #f4a950;
  --lightGrey: #faf9f9;
  --darkGrey: #4b4b4b;
  --tertiaryColor: #A93F55;
  --transitions: 0.4s all ease-in-out;
}

.title{
  font-weight: bold;
  font-size: 44px;
  text-transform: capitalize;
}